.main {
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

.navbar-wrapper, .navbar-title {
  flex-grow: 1
}

.alert {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  max-width: 25%;
  margin: auto;
  padding: 30px 30px;
  background-color: #ffdbdb;
  color: #bf0000;
  font-size: 24px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 15px;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
